<div class="show">
  <p>
    <strong>クラス名:</strong>
    <%= @team.name %>
  </p>

  <%= form_with(model: @attendancebook) do |f| %>

    <% @team.kids.each_with_index do |kid, i| %>
      <h3><%= "園児#{i + 1}" %></h3>
      <div class="show">
        <p>
          <strong>名前:</strong>
          <%= kid.name %>
          <%= f.select :presence_or_absence, [["出席", 0], ["欠席", 1]], include_blank: "選択して下さい" %>
        </p>
      </div>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
