<p id="notice"><%= notice %></p>
<h1 class="top">園児出席一覧カレンダー</h1>
<br>

<h4>出席簿を入力するには、該当のクラス名をクリックしてください</h4>
<% Team.all.each do |team| %>
  <div>
    <strong><%= link_to "・#{team.name}", new_attendancebook_path(team_id: team) %></strong>
  </div>
<% end %>

<hr>

<%= month_calendar events: @attendancebooks do |date, attendancebooks| %>
  <%= date.day %>
  <div>
  <% class_names = [] %>
  <% attendancebooks.each do |attendancebook| %>
    <% unless class_names.include?(Kid.find(attendancebook.kid_id).team.name) %>
      <% class_names << Kid.find(attendancebook.kid_id).team.name %>
    <% end %>
  <% end %>
  </div>
  <% class_names.each do |class_name| %>
    <%= class_name %>
  <% end %>
<% end %>
