<%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <ul class="error">
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :日にち %>
      <%= form.date_field :day %>
    </div>

    <div class="field">
      <%= form.label :remark %>
      <%= form.text_area :remark, placeholder: "連絡事項" %>
    </div>

    <div class="actions">
      <%= form.submit "登録" %>
    </div>
  <% end %>
  <div class="back"><%= link_to t('.back'), posts_path %></div>